body {
    font: 16px PFDinTextCondPro,Arial,sans-serif;
    text-align: center;
}
.wrapper1 {
    background-image:url("../images/bg.jpg");
}
.wrapper2 {
    background-image:url("../images/bg2.jpg");
}
.form {
    width: 300px;
    background: #111;
    border-radius: 3px;
    color: #fff;
    margin: 15% auto 0 auto;
    box-shadow: 0 5px 10px 0 #000;
}

.form h2 {
    font-size: 16px;
    color: #a52731;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 40px;
    line-height: 40px;
}
h2 {
    margin: 0;
    font-weight: 400;
}

.form div.inputs {
    background: #222;
    text-align: center;
    padding: 20px 0;
}

.form div.inputs input {
    display: inline-block;
    background: #000;
    text-align: center;
    width: 100px;
    color: #fff;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 1px solid #a52731;
    line-height: 30px;
    font-size: 14px;
    font-weight: 700;
}

.form div.inputs input#play {
    width: 50px;
    background: #a52731;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    height: 32px;
}

.mute {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 20px;
    right: 20px;
}

.logo2{
    text-align: center;
}


.button {
    margin-top: 150px;
    width: 300px;
    background: #a52731;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    height: 32px;
}

.result {
    margin-top: 0px;
    font-size: 100pt;
}

a {
    color: inherit;
}